<%= render partial: 'articles/nav' %>

<div class="d-flex flex-column m-auto w-50">
  <% @articles.each do |article| %>
    <div class="mb-3">
      <h2><%= link_to article.title, article_path(article), class: "text-decoration-none", style: "color: #337ab7;" %></h2>
      <p><%= article.content %></p>


    </div>
  <% end %>
</div>
